@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";


*{
    font-family: "Montserrat", sans-serif;
}

.container {
    padding: 2rem;
}


/* clases personalizadas */

.btn-paginated {
    @apply border border-slate-700 rounded-md font-semibold text-xs py-1 px-3 hover:bg-slate-700 hover:text-white transition-all  disabled:opacity-50 disabled:cursor-not-allowed disabled:border-slate-800 disabled:text-slate-800 disabled:bg-white disabled:hover:text-slate-700
}

.btn-primary {
    @apply bg-black text-white py-2 px-3 text-sm font-medium rounded-md cursor-pointer
}

.btn-secondary-outline {
    @apply border border-slate-400 text-slate-600 py-2 px-3 text-sm font-medium rounded-md cursor-pointer
}

.animated-fadeIn {
    animation: fadeIn 0.3s ease-in-out forwards
}

.animated-slideIn {
    animation: slideIn 0.3s ease-in-out forwards
}

.animated-slideInLeft {
    animation: slideInLeft 0.3s ease-in-out forwards
}

/* Para chrome safari, Edge y Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para firefox  */
input[type=number] {
    -moz-appearance: textfield;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}